<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pointcoil.mapper.Thermodynamic_03Mapper">

    <cache type="com.pointcoil.conf.MybatisRedisCache">
        <property name="eviction" value="LRU" />
        <property name="flushInterval" value="6000000" />
        <property name="size" value="1024" />
        <property name="readOnly" value="false" />
    </cache>
    <insert id="uploadThermodynamicByUser">
        insert into tbl_thermodynamic_add_user
        values
        <foreach collection="list" item="list"  index="index" separator=",">
            ( replace(uuid(),'-',''),#{list.baiduLat},#{list.baiduLon},#{type} ,#{list.count},#{userId},#{list.name})
        </foreach>
    </insert>
    <select id="findThermodynamic" resultType="com.pointcoil.dto.map.HeatDTO$HeatMapDataDTO">
        select lat as lat,lng as lng,`count` as count from tbl_thermodynamic_add_user
        where user_id = #{heatDTO.userId}  and type = #{heatDTO.heatType}
    </select>



</mapper>