<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pointcoil.mapper.Thermodynamic_01Mapper">

    <cache type="com.pointcoil.conf.MybatisRedisCache">
        <property name="eviction" value="LRU" />
        <property name="flushInterval" value="6000000" />
        <property name="size" value="1024" />
        <property name="readOnly" value="false" />
    </cache>

    <insert id="addThermodynamic">
        insert into  tbl_thermodynamic_add (id,lat,lng,type,`count`,city)
        value (replace(uuid(),'-',''),#{addHeatMapDataDTO.lat},#{addHeatMapDataDTO.lng},#{addHeatMapDataDTO.type}
        ,#{addHeatMapDataDTO.count},#{addHeatMapDataDTO.city})
    </insert>
    <select id="selectNewAreYou" resultType="com.pointcoil.dto.map.HeatDTO$HeatMapDataDTO">
         select id,lng,lat , count from tbl_thermodynamic_add  where type = #{heatDTO.heatType} and city LIKE CONCAT(#{heatDTO.city,jdbcType=VARCHAR},'%')
    </select>
    <update id="upd">
        update tbl_core
        <set>
            count = count+1
        </set>
        where id = 1
    </update>
    <delete id="deleteNewAreYou">
        delete from tbl_thermodynamic_add where id in
        <foreach collection="map" item="map" index="index" separator="," open="(" close=")">
            #{map.id}
        </foreach>
    </delete>
</mapper>