<!DOCTYPE html>
<html lang="eni">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>表单</title>
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/layuiadmin/style/admin.css" media="all">
    <style>
        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 130px;
            min-height: 36px
        }
    </style>
</head>
<body class="body">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>添加城市</legend>
</fieldset>
<form class="layui-form layui-from-pane" action="/admin/poster/addPoster" style="margin-top:20px" method="post">
    <p><input id="cityName" name="cityName" type="hidden">
    <p><input id="userId" name="userId" type="hidden">

 <!--   <div id="link-type-goods">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选择城市</label>
                <div class="layui-input-inline">
                    <input type="text" id="factoryCommodityName" name="factoryCommodityName" placeholder="请输入商品名"
                           autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <select name="linkUrl" id="linkUrl" lay-search>
                        <option value="" selected>请先输入搜索内容</option>
                    </select>
                </div>
                <button id="btnSearch" class="layui-btn icon-btn" type="button"><i class="layui-icon">&#xe615;</i>搜索
                </button>
            </div>
        </div>
    </div>-->
    <div class="layui-inline">
        <label class="layui-form-label"> 起始 -- 结束 </label>
        <input type="text" class="layui-input" name="date" id="date" placeholder=" ~ "
               style="width: 300px">
    </div>


    <div class="layui-form-item" style="margin-top:40px">
        <div class="layui-input-block">
            <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="demo1" id="demo1">立即提交</button>
        </div>
    </div>
</form>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        //静态资源所在路径
        base: '../../static/layuiadmin/'
    }).extend({
        //主入口模块
        index: 'lib/index'
    }).use(['form', 'layer', 'jquery', 'laydate', 'upload', 'index'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery,
            table = layui.table,
            upload = layui.upload;

        //执行一个laydate实例
        layui.laydate.render({
            elem: '#date'
            , type: 'date'
            , range: true
        });
        form.on('submit(demo1)', function (data) {
            layui.$.ajax({
                //url: 'http://localhost:8080/pointcoil' + '/system/thermodynamicUserAdd',
                url: layui.data(layui.setter.tableName)['admin_host'] + '/system/thermodynamicUserAdd',
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function (res) {
                    if (res['code'] == 0) {
                        layui.layer.closeAll('loading');
                        layui.layer.load(2);
                        layui.layer.msg("添加成功", {icon: 6});
                        setTimeout(function () {
                            window.parent.location.reload();//修改成功后刷新父界面
                        }, 1000);
                        //加载层-风格

                    } else {
                        layui.layer.msg(res.msg, {icon: 5});
                    }
                }
            })
            return false;
        });






        $("#btnSearch").click(function () {
         var factoryCommodityName = $("#factoryCommodityName").val();
            layui.$.ajax({
                url: layui.data(layui.setter.tableName)['admin_host'] + '/system/getSearchCity?cityName=' + factoryCommodityName,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $("#linkUrl").empty();
                    debugger;
                    if (result.code === '0') {
                        var date = result.data;
                        console.log(date)
                        if (date != null && date.length > 0) {
                            for (var i in date) {
                                $("#linkUrl").append('<option value="' + date[i].cityName + '">' + date[i].cityName + '</option>');
                                form.render('select');
                            }
                        } else {
                            $("#linkUrl").append('<option value="">' + "没有找到该城市" + '</option>');

                        }
                    }
                    layui.form.render("select");
                }
            });
        });








    });
</script>
</body>
</html>
